.message-card {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88%;
    color: white;
    background: #F3F3F3;
    border-radius: 12px;
    margin-right: 13px;
  }

  .side-panel-header {
    font-weight: 800;
    font-size: 23px;
    margin: 20px 40px;
  }

  .side-panel-user-list {
    margin: 0 50px;
  }

  .list {
    width: 30%;
    background: #F3F3F3;
    border-radius: 18px;
  }

  .nav {
    width: 25%;
    background: rgba(0, 10, 243, 0.35);
  }

  .container {
    height: calc(100% - 53px);
    display: flex;
  }

  .message-info {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 70%;
    height: 100%;
  }

  .message-header {
    display: flex;
    height: 10%;
    background: #F3F3F3;
    border-radius: 16px;
    margin-right: 13px;
    margin-bottom: 13px;
    font-weight: 800;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    padding-left: 30px;
    color: #000000;
  }

  input {
    height: 99%;
    outline: none;
    width: 100%;
    border: 0px;
    background: rgba(196, 196, 196, 0.37);
    padding: 0 10px;
  }

  button {
    outline: none;
    width: 100%;
    border: 0px;
  }

  @media screen and (max-width: 400px) {
    .container {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      height: 100%;
    }
  }