.inputBox {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  min-height: 60px;
  color: white;
  background: #F5F5F5;
  }
  
  .textBox {
    width: 60%;
    margin-right: 10px;
    height: 40px;
    margin: 10px;
  }
  
  .sendBtn {
    position: relative;
  }

  .sendSvg{
    margin-left: 20px;
  }